@font-face {
    font-family: 'AdorshoLipi';
    src: url('https://IceBear65.github.io/custom-fonts/AdorshoLipi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BenSenHandwriting';
    src: url('https://IceBear65.github.io/custom-fonts/BenSenHandwriting.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
